/* nejsme vcerejsi, pouzivame moderni box model */
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

/*
    BARVY
    šedá: #e5e5e5 (pozadí body)
    světle fialová: #48418e (navigace, primární tlačítko, nadpisy služeb, patička)
    tmavě fialová: #25133d (výchozí barva gradientu, hover primárního tlačítka)
    nachová: #aa5477 (koncová barva gradientu)
    gradient v záhlaví: linear-gradient(to right, #25133d 25%, #aa5477 100%)

    PÍSMO
    Source Sans Pro
    https://fonts.google.com/specimen/Source+Sans+Pro?query=source+Sans
    - light 300 (slogan)
    - bold 700 (logo, nadpisy)
    - regular 400 (vše ostatní)

    HOVER EFEKT
    navigace: prohodit barvu písma s barvou pozadí
    primární tlačítko: ohraničení světle fialovou, pozadí tmavě fialovou
    sekundární tlačítko: ohraničení i pozadí světle fialovou

    BONUSOVÁ VÝZVA
    Změň barvu ikon na tmavě fialovou.
*/
body {
    padding: 0;
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;;
    font-weight: 400;
    line-height: 1.5;
    background-color: #e5e5e5;
}

.container {
    /* obsah stránky je omezený do pruhu širokého 1200px */
    max-width: 1200px;
    /* stránka je vycentrovaná */
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

/*navigace*/
.navigace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    }

.navigace li {
  display: flex;
  }
.navigace a {
  padding: 1rem 1.5rem;
  color: #48418e;
  text-decoration: none;
  }

.navigace a:hover {
  background-color: #25133d;
  color: white;
}

.appka {
  text-transform: uppercase;
  font-weight: 700;
}

/*hlavní banner*/
.super-appka h2 {
  font-weight: 300;
  margin: 0;
}

.super-appka h1 {
  margin: 0;
}

h1,
h3 {
  font-weight: 700;
}

.super-appka {
  background-image: linear-gradient(to right, #25133d 25%, #aa5477 100%);
  padding: 0 2rem;
  }

/*tlacitka v banneru*/
.tlacitka {
  display: flex;
  flex-direction: column;
  }
.tlacitka li {
  display: flex;
  flex-basis: 100%;
  }
.button a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  }

.button:hover {
  background-color: #48418e;
}
.button {
  border: 1px solid white;
  border-radius: 5px;
  justify-content: center;
  margin: 0.5rem;
  }



/*služby*/
.sluzby h3 {
  color: #48418e;
  text-align: center;
}

.sluzby p {
  text-align: center;
}
.paticka {
  background-color: #48418e;
}

.paticka p {
  text-align: center;
  color: whitesmoke;
}



header h1,
header h2,
header li {
  color: #e5e5e5
}

.sluzba {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0 1rem;
}



/* tablet */
@media screen and (min-width: 480px) {
  .navigace {
    justify-content: left;
  }
  .tlacitka {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: left;
  }
  .tlacitka li {
    display: flex;
    }
  .button a {
    padding: 0.5rem 1rem;
  }
  .button {
    margin-left: 0;
  }
  .super-appka {
    padding: 1rem 2rem;
  }
  h1 {
    font-weight: 500;
    font-size: 3rem;
  }
  .sluzby {
    display: flex;
  }
}

/*PC*/
@media screen and (min-width:860px) {
  .super-appka {
    background-image: 
    url(images/telefon.png),
    linear-gradient(to right, #25133d 25%, #aa5477 100%);
    background-repeat: no-repeat;
    background-position: 
    right;
    background-size: 28%, 100%;
    padding: 1.5rem;
    }
  h1,
  h2 {
    width: 40%;
  }
  h2 {
    font-size: 2rem;
  }
  .tlacitka {
    width: 35%;
  }
  
}



